@media (max-width: 1300px) {
  .tesla-socialmedia-box:nth-child(2) {
    top: 70px;
    right: -110px;
  }
  .tesla-socialmedia-box:nth-child(3) {
    top: 70px;
    right: -60px;
  }
  .tesla-socialmedia-box:nth-child(4) {
    top: 70px;
    right: -10px;
  }
  .tesla-first-box h1 {
    font-size: 80px;
    margin-bottom: 30px;
  }
  .tesla-first-box p {
    font-size: 26px;
  }
  .text-red-subtitle {
    font-size: 36px;
  }
}

@media (max-width: 1100px) {
  .tesla-socialmedia-box:nth-child(2) {
    width: 30px;
    height: 30px;
    top: 20px;
    right: -120px;
  }
  .tesla-socialmedia-box:nth-child(3) {
    width: 30px;
    height: 30px;
    top: 20px;
    right: -80px;
  }
  .tesla-socialmedia-box:nth-child(4) {
    width: 30px;
    height: 30px;
    top: 20px;
    right: -40px;
  }
  .tesla-icon {
    height: 30px;
  }
  .instagram-icon {
    height: 38px;
  }
  .x-icon {
    height: 30px;
  }
  .tesla-first-box h1 {
    font-size: 60px;
    margin-bottom: 0;
  }
  .tesla-first-box p {
    font-size: 20px;
  }
  .text-red-subtitle {
    font-size: 30px;
  }
}
  
