.tesla-fifth-section {
  max-width: 1920px;
  min-width: 1100px;
  height: auto;

  display: flex;
  flex-direction: column;

  position: relative;
}

.cybertruck-inside-container {
  width: 100%;
}

.cybertruck-inside-container img {
  width: 100%;

  position: relative;

  display: block;
}

.fifth-card {
  width: 100%;
  height: 45%;
  padding: 32px;
  padding-top: 82px;
  padding-bottom: 0;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.cybertruck-inside2-container {
  width: 35%;
  height: 100%;
}

.cybertruck-inside2-container img {
  width: 100%;
  height: 100%;

  border-radius: 8px;
}

.fifth-box,
.sixth-box {
  width: 50%;
  height: 100%;
  font-size: 20px;
  padding: 20px;

  background-color: rgb(0, 0, 0, .5);
  border-radius: 12px;
  
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.fifth-box h1,
.sixth-box h1 {
  margin: 0;
  margin-bottom: 16px;
}

.fifth-box p,
.sixth-box p {
  margin: 0;
}

.sixth-card {
  width: 100%;
  height: 45%;
  padding: 32px;
  padding-bottom: 82px;
  padding-top: 0;

  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.cybertruck-inside3-container {
  width: 35%;
  height: 100%;
}

.cybertruck-inside3-container img {
  width: 100%;
  height: 100%;

  border-radius: 8px;
}

.sixth-box {
  width: 50%;
  height: 100%;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: rgb(0, 0, 0, .5);
  border-radius: 12px;
}