@media (max-width: 1680px) {
  .doubts-paragraph {
    font-size: 14px;
  }
}

@media (max-width: 1600px) {
  .tesla-form {
    padding: 40px;
  }
}

@media (max-width: 1450px) {
  .doubts-title {
    font-size: 24px;
  }
}

@media (max-width: 1350px) {
  .tesla-form {
    width: 90%;
    height: 750px;
    padding: 20px;
  }
  .tesla-form h2 {
    font-size: 22px;
  }
  .tesla-form .inputSubmit {
    margin-top: 24px;
  }
  .doubts-box {
    height: 750px;
  }
  .doubts-title {
    font-size: 22px;
  }
}

@media (max-width: 1260px) {
  .doubts-paragraph {
    font-size: 12px;
  }
}