.text-red-p {
  color: rgb(255, 0, 0);
}

h1, p {
  z-index: 5;
}

.tesla-second-section {
  max-width: 1920px;
  min-width: 1100px;
  height: auto;

  display: flex;
  flex-direction: column;
  
  position: relative;
}

.cybertruck-outside-container {
  width: 100%;
  overflow: hidden;

  position: relative;

  z-index: -10;
}

.tesla-cybertruck-outside {
  width: 100%;
  height: auto;
  opacity: .5;
  margin: 0;

  display: block;
}

.first-card {
  width: 100%;
  min-width: 1100px;
  height: 50%;
  padding: 82px;
  padding-bottom: 0;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;

  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

.tesla-first-video {
  width: 38%;
  height: 100%;

  border: 1px solid rgba(255, 0, 0, 0.2);
  border-radius: 12px;

  flex-shrink: 0;
}

.tesla-second-box {
  width: 50%;
  min-height: 60%;
  padding-left: 20px;
  padding-right: 20px;

  background-color: rgba(0, 0, 0, .3);
  border-radius: 12px;

  font-size: 20px;
}

.grid-models {
  width: 100%;
  height: 40%;
  padding-bottom: 82px;

  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 0;

  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

.second-card {
  width: 80%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.cybertruck-models {
  width: 25%;
  height: 90%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex: 1;

  position: relative;
  
  border: 1px solid rgba(255, 0, 0, 0.2);
  border-radius: 12px;

  font-size: 13px;
}

.model-conteiner {
  overflow: hidden;

  border-radius: 12px;
}

.img-models {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 12px;

  z-index: -1;

  transition: transform 1s ease-out;
}

.main-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.main-details h1 {
  width: 100%;
  font-size: 24px;
  margin: 0;
  margin-top: 12px;

  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
}

.main-details h2 {
  width: 30%;
  margin: 0;
  margin-top: 12px;

  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  border-radius: 6px;
}

.details {
  width: 35%;
  height: 61%;
  list-style-type: none;
  text-align: left;
  margin: 0;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}

.cybertruck-models .link {
  width: 53%;
  height: 9%;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 4px;

  position: absolute;
  bottom: 0;
  right: 0;

  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 18px;
  border: 1px solid rgba(255, 0, 0, .5);

  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  transition: color 1s linear;
}

@media (hover:hover) {
  .cybertruck-models:hover .img-models {
    transform: scale(1.2);
  }
  * {
    backface-visibility: hidden;
  }
  .cybertruck-models .link:hover {
    color: red;
  }
}

