.tesla-top-menu {
  height: 90px;
  width: 100%;
  min-width: 1110px;
  background-color: rgb(20, 20, 20);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 21;
  border-bottom: 1px solid rgba(255, 0, 0, .3);
  transition: box-shadow 2s ease;
}

.tesla-logo {
  width: 85px;
  margin-left: 16px;
  opacity: .8;
  animation: cambioColor 7s infinite linear;
}

.tesla-logo-black {
  opacity: 1;
  animation: descensoOpacidad 7s infinite linear;
}

.tesla-logo-red {
  position: absolute;
  opacity: 0;
  animation: aumentoOpacidad 7s infinite linear;
}

.progress-bar {
  width: 0%;
  height: 2px;
  position: fixed;
  background-color: rgba(255, 0, 0, .3);
  z-index: 100;

  animation: progress auto linear;
  animation-timeline: scroll(root);
}

.sections {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.sections button {
  min-width: 120px;
  height: 26px;
  color: rgba(255, 0, 0, .7);
  background-color: rgba(0, 0, 0, .6);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: border 1s ease;
}

.langContainer {
  width: 140px;
  height: 40px;
  margin-right: 16px;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: rgba(0, 0, 0, .3);
  border: none;
  border-color: red;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  transition: border 1s ease;
}

.langContainer.clicked {
  border-color: black;
  background-color: rgba(255, 0, 0, .2)
}

.flagEs, .flagEn {
  width: 30px;
  z-index: 30;
}

.flagEs {
  margin-bottom: 1px;
}

.changeLang {
  width: 40px;
  height: 22px;
  margin-left: 4px;
  z-index: 30;
  background-color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.changeLang::before {
  content: '';
  width: 18px;
  height: 14px;
  background-color: rgba(255, 0, 0, .6);
  border-radius: 3px;
  transition: transform 0.3s ease;
}

.changeLang.clicked::before {
  transform: translate(22px);
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes aumentoOpacidad {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .40;
  }
  50% {
    opacity: .8;
  }
  75% { 
    opacity: .40;
  }
  100% {
    opacity: 0;
  }
}

@keyframes descensoOpacidad {
  0% {
    opacity: .8;
  }
  25% {
    opacity: .40;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: .40;
  }
  100% {
    opacity: .8;
  }
}

@media (hover:hover) {
  .tesla-top-menu:hover {
    box-shadow: inset 0 -30px 20px rgba(255, 0, 0, .1);
  }
  .sections button:hover {
    color: rgba(255, 0, 0, 1);
    text-decoration: underline;
    border: 1px solid rgba(255, 0, 0, .3);
  }
  .langContainer:hover {
    border: 1px solid rgba(255, 0, 0, .3);
  }
  .langContainer.clicked:hover {
    border: 1px solid rgba(0, 0, 0, .6);
  }
}