.tesla-top-menu {
  height: 90px;
  width: 100%;
  background-color: rgba(29, 29, 29, 1);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 21;
  border-bottom: 1px solid rgba(255, 0, 0, .3);
  transition: box-shadow 2s ease;
}

.tesla-logo {
  width: 85px;
  margin-left: 16px;
  position: absolute;
  left: 0;
  opacity: .8;
  animation: cambioColor 7s infinite linear;
}

.tesla-logo-black {
  opacity: 1;
  animation: descensoOpacidad 7s infinite linear;
}

.tesla-logo-red {
  position: absolute;
  opacity: 0;
  animation: aumentoOpacidad 7s infinite linear;
}

.progress-bar {
  width: 0%;
  height: 2px;
  position: fixed;
  background-color: rgba(255, 0, 0, .3);
  z-index: 100;

  animation: progress auto linear;
  animation-timeline: scroll(root);
}

.sections {
  display: flex;
  align-items: center;
  gap: 32px;
}

.sections a {
  color: rgba(255, 0, 0, .6);
  text-decoration: none;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes aumentoOpacidad {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .40;
  }
  50% {
    opacity: .8;
  }
  75% { 
    opacity: .40;
  }
  100% {
    opacity: 0;
  }
}

@keyframes descensoOpacidad {
  0% {
    opacity: .8;
  }
  25% {
    opacity: .40;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: .40;
  }
  100% {
    opacity: .8;
  }
}

@media (hover:hover) {
  .tesla-top-menu:hover {
    box-shadow: inset 0 -10px 10px rgba(255, 0, 0, .2);
  }
  .sections a:hover {
    color: rgba(255, 0, 0, .8);
    text-decoration: underline;
  }
}